<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Tell Me What To Build</title>

        <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
    </head>

    <body>
        {% block content %}
        <div class="container">
            <div class="row" id="options" align="center">
                <div id='create_session_forms' class='span6 offset3'>
                    <form method="POST" action="/tellme">
                        <div id="display">
                            <h2> I will tell you what to work on, and leave the implementation details up to you</h2>
                        </div>
                        <button type='submit' class='button'>Tell me</button>
                    </form>
                </div>
            </div>

            <br>
        </div>
        {% endblock %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="static/client.js"></script>
    </body>
</html>
