<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Git Rumble</title>

        <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="static/css/vendor/bootstrap-responsive.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
    </head>

    <body>
        {% block content %}
        <div class="container">

            <div class="row">
                <div id="logodiv" class="span8 offset2" align="center"/>
                    <img src="/static/imgs/logo.png" alt="Git Rumble">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="span3 offset5">
                    <h3>Session {{ session_id }}</h3>
                </div>
            </div>

            <div class="row" id="options" align="center">
                <div id='stats' class='custom-hero span5'>
                    <h2> Current standings </h2>
                    {% if user_dict %}
                        {% for user in user_dict.keys()%}
                            <div class="row">
                                <div class="span2" align="left">
                                    <h4>{{ user }}</h4>
                                </div>
                                <div class="span2">
                                    <h4>{{ user_dict[user] }} contributions</h4>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if not user_dict %}
                        <div class="row">
                            <h4>There are currently no competitors</h4>
                        </div>
                    {% endif %}
                </div>

                <div id='join_session_forms' class='custom-hero span5 offset1'>
                    <form method="POST" action="/token">
                        <h2> Join session </h2>
                        <div class="row prompt">
                            <input type="text" name="user" id="user" placeholder="Github username">
                            <input type="hidden" name="session_id" id="session_id" value={{session_id}}>
                        </div>
                        <button type='submit' class='button'>Join session</button>
                    </form>
                </div>
            </div>

            <br>
            <div class="row" id="credits" align="center">
                <p>
                By <a href="http://github.com/sagnew">Sam Agnew</a>, <a href="http://github.com/yesdnil5">Lindsey Crocker</a> and <a href="http://github.com/rabidmadman">Tobias Perelstein</a>
                <br>
                <a href="https://github.com/sagnew/GitRumble">View source on Github</a>
                </p>
            </div>

        </div>
        {% endblock %}
    </body>
</html>
